.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    min-width: 100vw;
    background: #ffff;
}
.search-user{
    margin-left: 3%;
}

.search-user button{
    background-color: rgb(177, 203, 230);
    border: none;
    border-radius: 10px;
    min-height: 5vh;
    min-width: 15vw;
    font-size: 1.2vw;
}
.application-title{
    margin-left: -11%;
    font-size: 1.6vw;
    font-weight: 700;
}
.user-notifications-profile{
    margin-right: 3%;
}