@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins&display=swap");

.app-title h1 {
  color: #474444;
  font-family: Jomhuria;
  font-size: max(calc(10vw + 3vh), 100px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1%;
}
.login-signup-buttons {
  margin-top: -2%;
}
.homepage {
  min-width: calc(50vw + 20vh); 
  min-height: calc(40vh + 20vw);
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  margin-top: 1%;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
.signup-button.active,
.login-button.active {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 25, 255, 0.24);
}

.signup-button,
.login-button {
  border: none;
  width: min(calc(21vw + 10vh), 217px);
  height: min(calc(2vh + 3vh), 37px);
  flex-shrink: 0;
  background: #fff;
  color: #474444;
  font-family: Poppins;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.signup-button {
  margin-right: 5vw;
}
.user-details {
  margin-top: 4%;
}
.username-input,
.email-input,
.password-input,
.confirm-password-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.username-input p,
.email-input p,
.password-input p,
.confirm-password-input p {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  margin-left: -10%;
  margin-right: 3%;
  color: #474444;
  font-family: Poppins;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.user-name,
.user-email,
.user-password,
.user-confirm-password {
  width: 388px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #f4f4f4;
  border: none;
  color: #705f5f;
  font-family: Poppins;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 2%;
}

.login-submit-button,
.signup-submit-button,.guest-credentials-button {
  border-radius: 8px;
  background: #a9bcff;
  border: none;
  width: 274px;
  height: 38px;
  flex-shrink: 0;
  margin-top: min(calc(1vw + 0.6vh), 58px);
  color: #474444;
  font-family: Poppins;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.login-submit-button:hover,
.signup-submit-button:hover {
   color: #ffff;
   background: rgb(132, 156, 244);
}

.login-guest-buttons-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guest-credentials-button{
    background-color: #6fc072;
}

.guest-credentials-button:hover{
    background-color: #2f7031;
    color: #ffff;
}