.chat-box{
  background-color: rgb(255, 255, 255);
  min-width: 60vw;
  max-width: 35vw;
  height: 80vh;
  margin-top: 1.5%;
  margin-left: 3%;
  border-radius: 10px;
  font-family: Poppins;

}
.chat-name-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   font-family: Poppins;
}
.chat-name-container p{
    padding-left: 5%;
    font-family: Poppins;
}
.chat-name-container button{
    margin-right: 5%;
    background-color: rgb(177, 203, 230);
    border: none;
    border-radius: 10px;
    min-height: 5vh;
    min-width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.chat-empty-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.2vw;
    font-weight: 500;
    font-family: Poppins;
}
.chat-arena{
   margin: 2%;
   height: 80%;
   border-radius: 10px;
   background-color: rgb(227, 236, 233);
}

.chat-arena {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enter-message-area {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.enter-message-area input {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding-left: 1.5%;
  height: 5vh;
}
.messages-tab{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: flex-end;
  scrollbar-width: none;
  padding-left: 1%;
  padding-right: 1%;
}


.messages-tab::-webkit-scrollbar {
  display: none; 
}

.chat-box::-webkit-scrollbar {
  display: none;
}

