.user-results-container{
    margin-top: 1.5%;
    max-width: 90%;
    max-height: 70vh;
    margin-left: 5%;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.user-results-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.loading-users{
    font-size: 5vw;
    color: #ffff;
}

.user-results-user-picture{
    width: 3vw;
    height: 3vw;
    margin-left: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.user-results-user-picture img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.each-user-result-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color:hsl(180, 40%, 92%);
    height: 10vh;
    margin-right: 2%;
}
.user-results-name-email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    font-size: 1.5vw;
    font-weight: 600;
    width: 60%;
    display: flex;
    font-family: Poppins;
    justify-content: space-around;
}
.user-results-email{
    font-weight: 600;
    font-size: 1.5vw;
    margin-left: 20%;
}
.each-user-edit-button{
     cursor: pointer;
     background-color: antiquewhite;
     width: 10vw;
     border-radius: 10px;
     font-size: 1.5vw;
     font-weight: 500;
}
.user-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
}